@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-darkColor text-whiteColor;
	}

	p {
		@apply text-whiteColor;
	}
}

@layer components {
	.auto-spacing {
		@apply max-w-[85%] m-auto;
	}

	.btn {
		@apply flex items-center justify-center space-x-[0.5rem] bg-primaryColor text-whiteColor px-[1rem] py-[0.5rem] rounded-sm hover:opacity-[0.9] active:scale-[0.95];
	}

	.outlineBtn {
		@apply flex items-center justify-center space-x-[0.5rem] bg-transparent text-whiteColor border border-primaryColor px-[1rem] py-[0.5rem] rounded-sm hover:bg-primaryColor hover:text-whiteColor active:scale-[0.95];
	}

	.iconBtn {
		@apply flex items-center justify-center border border-lightColor rounded-full p-2 cursor-pointer hover:border-primaryColor;
	}

	.navLink {
		@apply before:absolute before:w-0 before:h-[0.125rem] before:bg-primaryColor before:bottom-[-0.3125rem] before:left-[0] before:transition-all ease-in hover:before:w-1/2 hover:before:left-0;
	}
}

:root {
	--swiper-theme-color: var(--primary-color) !important;
}

::-webkit-scrollbar {
	background: hsl(240, 2%, 10%);
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background: rgba(131, 2, 56, 0.527);
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px var(--dark-color);
	border: 2.5px solid hsl(240, 2%, 10%);
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px var(--dark-color);
	border: 2.5px solid hsl(240, 2%, 10%);
	background: hsla(335, 100%, 35%, 0.712);
}

::-webkit-scrollbar-track {
	background: transparent;
}

@media screen and (max-width: 768px) {
	::-webkit-scrollbar {
		display: none;
	}
}

html,
body {
	font-family: "Poppins", sans-serif;
}
